{% extends 'base.html.twig' %}

{% block title %}New Minecraft{% endblock %}

{% block body %}
    <h1>Create new Minecraft</h1>

    {{ include('minecraft/_form.html.twig') }}

    <a href="{{ path('minecraft_index') }}">back to list</a>
{% endblock %}
